In [ ]:
# Задание 1
# Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
# Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [34]:
data [data['rating'] == 5]['movieId'].value_counts().head()

318     153
296     123
356     116
2571    109
260     104
Name: movieId, dtype: int64

In [ ]:
# Задание 2
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
# категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [36]:
consumption = pd.read_csv('power.csv')
consumption.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [64]:
Baltic = consumption[(consumption['country'] == 'Latvia') | (consumption['country'] == 'Lithuania') | (consumption['country'] == 'Estonia')]
#Baltic.head()
Baltic_4_12_21 = Baltic[(Baltic['category'] == 4) | (Baltic['category'] == 12) | (Baltic['category'] == 21)]
#Baltic_4_12_21
Baltic_years = Baltic_4_12_21[(Baltic_4_12_21['year'] <= 2010) & (Baltic_4_12_21['year'] >= 2005)]
sum(Baltic_years[Baltic_years['quantity'] > 0]['quantity'])

240580.0

In [95]:
# Задание 3
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
# Примеры страниц (необязательно брать именно эти):
# https://fortrader.org/quotes
# https://www.finanz.ru/valyuty/v-realnom-vremeni
url = 'https://terfit.ru/upload/projects/gto/result/zima2019/vzroslye-tren-zal-m.html'
data = pd.read_html(url, header = 0, skiprows = 1)
data[0]

,"Фамилия, Имя",Клуб,Пол,Возраст,р е з у л ь т а т,с т е п е н ь,Р е й т и н г,р е з у л ь т а т.1,с т е п е н ь.1,Р е й т и н г.1,...,Р е й т и н г.2,р е з у л ь т а т.3,с т е п е н ь.3,Р е й т и н г.3,р е з у л ь т а т.4,с т е п е н ь.4,"Степень, баллы",Степень ГТО,"Рейтинг, баллах",Место в рейтинге
0,Протасов Роман,Авиамоторная,м,30,20.0,1,15,15,1,38,...,7,300,1,10,ладони,1,5,1,70,7
1,Захарченко Роман,Авиамоторная,м,38,18.0,2,37,15,1,38,...,45,300,1,10,ладони,1,7,2,130,26
2,Саленко Александр,Авиамоторная,м,34,15.0,2,55,15,1,38,...,55,300,1,10,ладони,1,7,2,158,33
3,Бакай Сергей,Авиамоторная,м,25,20.0,1,15,15,1,38,...,55,260,2,56,ладони,1,7,2,164,35
4,Верилл Павел,Авиамоторная,м,29,20.0,1,15,30,1,2,...,142,300,1,10,ладони,1,8,2,169,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Девяткин Иван,Чебоксары,м,36,1.0,4,134,8,4,132,...,7,310,1,4,пальцы,3,13,3,277,73
139,Андреев Владимир,Чебоксары,м,45,11.0,3,102,16,1,30,...,55,230,3,106,кулаки,2,10,2,293,84
140,Иванов Сергей,Чебоксары,м,53,22.0,1,9,12,1,85,...,109,210,3,114,кулаки,2,9,2,317,89
141,Герасимов Алексей,Чебоксары,м,42,3.0,4,129,12,1,85,...,45,260,2,56,кулаки,2,10,2,315,88
142,Назаров Дмитрий,Чебоксары,м,32,9.0,4,113,12,2,85,...,74,0,4,136,пальцы,3,15,3,408,130